include ../page.mixin.pug
include ../cc-by-4.mixin.pug
link(rel="stylesheet" href="./song.css")

mixin song--link(href)
    if Array.isArray(href)
        a(href=href[0])
            block
            | #{""} (zip)
    else
        a(href=href): block

//- Arguments:
//- name = "name of song"
//-
//- Attributes:
//- download="https://drive.google.com/uc?id=<download-url>&export=download"
//- audio="https://drive.google.com/uc?id=<audio-url>&export=download"
//- preview="https://drive.google.com/uc?id=<preview-url>"
mixin song(name)
    +page("Music", "music.html", "Music - " + name): .wrapper
        h3= name

        +cc-by-4.single

        if block
            .description
                block

        .link
            +song--link(attributes.download) Download
            if attributes.audio
                span.separator
                +song--link(attributes.audio)
                    | Audio
                    //- Future-proofing
                    unless attributes.recording
                        | #{""} (computer generated)

        div Preview (first page)
        img(alt="preview" src=attributes.preview)
