include ../mixins/page.pug

mixin a(href)
    a(href=href): block

+page("About")
    div: img.pic(src="/images/pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a full-stack web developer who specializes in the latest HTML5, CSS,
        JavaScript, and the #[a(href="https://nodejs.org") Node.js] JavaScript
        runtime. I also have experience with #[a(href="https://rubyonrails.org")].
        Some of the tools I use include #[a(href="https://pugjs.org") Pug],
        #[a(href="https://stylus-lang.com") Stylus], and
        #[a(href="https://mithril.js.org") Mithril], all except the last of which
        are used in this website. I have also worked with
        #[a(href="https://php.net") PHP],
        #[a(href="https://facebook.github.io/react/") React.js],
        #[a(href="https://babeljs.io/") Babel],
        #[a(href="https://wordpress.org/") WordPress],
        #[a(href="https://en.wikipedia.org/wiki/C%2B%2B") C++], and
        #[a(href="https://www.rust-lang.org/") Rust] (last two only in non-web
        projects).

    p.
        I also maintain an #[a(href="/blog/") occasionally updated blog] of
        various ramblings that go through my head. It's mainly intended for
        technical readers, so it's expected you are at least familiar with HTML,
        CSS, and JavaScript already, as well as programming in general to some
        extent.

    p.
        While I was in middle school and high school, I was #[em really] into
        creating music. This was before I picked up the art form of computer
        programming, so much of it's probably mediocre at best. I still didn't
        want it all to be lost in time, so I decided to continue to keep them
        available #[a(href="/music/") here]. I would love to get back to music,
        but I'm probably not going to continue creating much under my real name,
        since I like to keep my music separate from my professional life.

    p.
        If you have questions, comments, or concerns about whatever, you can
        feel free to #[a(href="/contact/") contact me at any time].
        Alternatively, if you would prefer to reach out to me via social media,
        you can also find me in any of these places:

    //- Why do embeds have to be *so* verbose... :-(

    ul
        li
            | GitHub – #{""}
            iframe.github(
                src="https://ghbtns.com/github-btn.html?user=isiahmeadows&type=follow"
                frameborder="0"
                scrolling="0"
            )

        li
            | LinkedIn – #{""}
            a.linkedin(href="https://www.linkedin.com/pub/isiah-meadows/a6/a75/230")
                span
                    img(
                        src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png"
                        alt="View Isiah Meadows's LinkedIn profile"
                    )
                    | &nbsp;View Isiah Meadows's profile

        li
            | Twitter – #{""}
            a.twitter-follow-button(href="https://twitter.com/isiahmeadows1" data-show-count="false")
                | Follow @isiahmeadows1
            script twttr={e:[],ready:function(f){twttr._e.push(f)}}
            script(src="https://platform.twitter.com/widgets.js" async defer)

    p.
        If you're wondering how my first name is pronounced, it's "eye-zay-uh",
        like the biblical character. I know it's spelled weird, but I was really
        named after
        #[a(href="https://en.wikipedia.org/wiki/Isiah_Thomas") this particular basketball player],
        not the biblical character.
