include ../../mixins/page.pug

mixin screenshot
    .screenshot: a(href=attributes.href)
        img(src=attributes.src alt=attributes.alt)

+page("Showcase")
    p.
        Here's some of my favorite work, so you know what I'm capable of.

    //- Contains screenshots + their associated websites.
    //- Note: this *must* contain a hole if the last element isn't filled.
    .display
        div
            .item
                +screenshot(
                    href="https://www.grandcaymanislandvacationrental.com"
                    src="/images/grandcaymanisland.jpg" alt="screenshot of website"
                )
                h3 Grand Cayman Island Vacation Rental

            .item
                +screenshot(
                    href="/showcase/open-source.html"
                    src="/images/open-source-logos.jpg" alt="Git and GitHub logos"
                )
                h3 Open Source

        div
            .item
                +screenshot(
                    href="/contact/?w"
                    src="/images/new-website.jpg" alt="new website impression"
                )
                h3 Your next website

            .item.hole
                div

    p.
        If you'd like to see your future website featured here, please click
        that image above and send me a message, so we can get started on that
        right away!
