include ./page.mixin.pug

link(rel="stylesheet" href="about.css")

mixin a(href)
    a(href=href): block

+page("About")
    div: img.pic(src="pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a full-stack web developer who specializes in the latest HTML5, CSS,
        JavaScript, and the #[+a("https://nodejs.org") Node.js] JavaScript
        runtime. Some of the tools I use include #[+a("http://pugjs.org") Pug],
        #[+a("http://stylus-lang.com") Stylus], and #[+a("http://mithril.js.org") Mithril],
        all except the last of which are used in this website. I have also
        worked with #[+a("https://php.net") PHP],
        #[+a("https://facebook.github.io/react/") React.js], #[+a("https://babeljs.io/") BabelJS],
        #[+a("https://wordpress.org/") WordPress], #[+a("https://en.wikipedia.org/wiki/C%2B%2B") C++],
        and #[+a("https://www.rust-lang.org/") Rust] (last two only in non-web projects).

    p.
        I maintain a #[+a("blog.html") low-traffic, infrequently updated blog]
        full of whatever ramblings come across my head, mostly technical stuff.
        Also, I enjoy reading #[+a("http://www.iflscience.com/") IFLScience]
        and #[+a("http://www.buzzfeed.com/") BuzzFeed], and when I can find
        time not spent coding or doing other things, I occasionally play music,
        mostly improvised, on my keyboard.

    p.
        Once upon a time (read: middle and high school), I loved to create
        music. This mostly predates my coding days, and as much as I wish I
        could continue creating, I sadly no longer have nearly the time to
        create and publish as I used to. In case you're curious, you can still
        find my old songs #[+a("music.html") here]. (I keep them archived here
        so they aren't lost to the sands of time.)

    p.
        If you want to contact me, you can always use the #[+a("contact.html") contact form]
        here on this site, or if you would prefer, you can also find me here:

    //- Why do embeds have to be *so* verbose... :-(

    ul
        li
            | GitHub – #{""}
            iframe.github(
                src="https://ghbtns.com/github-btn.html?user=isiahmeadows&type=follow"
                frameborder="0"
                scrolling="0"
            )

        li
            | LinkedIn – #{""}
            a.linkedin(href="https://www.linkedin.com/pub/isiah-meadows/a6/a75/230")
                span
                    img(
                        src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png"
                        alt="View Isiah Meadows's LinkedIn profile"
                    )
                    | &nbsp;View Isiah Meadows's profile

        li
            | Twitter – #{""}
            a.twitter-follow-button(href="https://twitter.com/isiahmeadows1" data-show-count="false")
                | Follow @isiahmeadows1
            script twttr={e:[],ready:function(f){twttr._e.push(f)}}
            script(src="https://platform.twitter.com/widgets.js" async defer)

    p.
        If you're wondering how my first name is pronounced, it's "eye-zay-uh",
        like the biblical character. I know it's spelled weird, but I was
        actually named after
        #[a(href="https://en.wikipedia.org/wiki/Isiah_Thomas") this particular basketball player],
        hence the seemingly odd spelling that machines almost never get right.
