//- Classes:
//- noauthor: don't put author name
//- small: use small logo
//- maybe: add "unless otherwise stated"
//- inline: don't insert horizontal rule
//- single: use singular context
//-
//- No attributes or parameters are used.

mixin cc-licenses--base(url, name, attrs)
    - var author = /\bnoauthor\b/.test(attrs.class) ? "" : "by Isiah Meadows "
    - var size = /\bsmall\b/.test(attrs.class) ? "80x15" : "88x31"
    - var unless = /\bmaybe\b/.test(attrs.class) ? " unless otherwise stated" : ""
    - var works = /\bsingle\b/.test(attrs.class) ? "This work " + author + "is" : "These works " + author + " are"
    
    unless /\binline\b/.test(attrs.class)
        hr.cc-license

    .cc-license
        +a("http://creativecommons.org/licenses/" + url + "/")(rel="license")
            img(
                alt="Creative Commons License"
                src=("https://i.creativecommons.org/l/" + url + "/" + size + ".png")
            )
        //- Jade needs the trailing space here to separate the line from the
        //- element
        small
            | !{works} licensed under a !{""}
            +a("http://creativecommons.org/licenses/by/4.0/")(rel="license").
                Creative Commons !{name} License
            | !{unless}.

mixin cc-by-4
    +cc-licenses--base("by/4.0", "Attribution 4.0 International", attributes)

mixin cc-by-nc-3
    +cc-licenses--base("by-nc/3.0/us", "Attribution-NonCommercial 3.0 United States", attributes)
